{% extends 'templates/app.twig' %}

{% block content %}

                <div class="sign-up_wrapper">
                    <h3 class="sign_in_form_label">Sign up</h3>
                    <form action="{{ path_for('auth.signup') }}" method="post" autocomplete="off">
                        <div class="field">
                            <div class="control"> 
                                <label>Username must contain only latinic letters or digits</label>
                            <input class="form-control{{errors.username ? ' is-invalid' : '' }} input" required="required" pattern="[a-zA-Z0-9]+" placeholder="Username" name="username" value="{{ old.username }}" type="text">
                            </div>
                            {% if errors.username %}
                                <div >{{ errors.username }}</div>
                            {% endif %}
                        </div>
                        <div class="field">
                            <div class="control">
                            <input class="form-control{{errors.email ? ' is-invalid' : '' }} input" required="required" type="email" placeholder="E-mail Address" name="email"  value="{{ old.email }}">
                            </div>
                            {% if errors.email %}
                                <div >{{ errors.email }}</div>
                            {% endif %}
                        </div>
                        <div class="field">
                            <div class="control">
                                  <label>Username must contain only latinic letters or digits</label>
                            <input class="form-control{{errors.firstName ? ' is-invalid' : '' }} input" required="required" pattern="[a-zA-Z0-9]+" placeholder="First name" name="firstName" value="{{ old.firstName }}" type="text">
                            </div>
                            {% if errors.firstName %}
                                <div >{{ errors.firstName }}</div>
                            {% endif %}
                        </div>
                        <div class="field">
                            <div class="control">
                                  <label>Username must contain only latinic letters or digits</label>
                            <input class="form-control{{errors.lastName ? ' is-invalid' : '' }} input" required="required" pattern="[a-zA-Z0-9]+"  placeholder="Last name" name="lastName" value="{{ old.lastName }}" type="text">
                            </div>
                            {% if errors.lastName %}
                                <div >{{ errors.lastName }}</div>
                            {% endif %}
                        </div>
                        <div class="field">
                            <div class="control">
                                 <label >Password must contain at least 1 difit, 1 uppercase letter and 1 lowercase letter, it must be 6+ symbols</label>
                            <input class="form-control{{errors.password ? ' is-invalid' : '' }} input" required="required" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$"   placeholder="Password" name="password" value="" type="password">
                            </div>
                            {% if errors.password %}
                                <div >{{ errors.password }}</div>
                            {% endif %}
                        </div>
                        <div class="field">
                            <div class="control">
                            <input class="form-control{{errors.confirmPassword ? ' is-invalid' : '' }} input" required="required" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$" placeholder="Confirm Password" name="confirmPassword" value="" type="password">
                            </div>
                            {% if errors.confirmPassword %}
                                <div >{{ errors.confirmPassword }}</div>
                            {% endif %}
                        </div>
                        <input class="button is-primary" value="Sign Me Up" type="submit">
                    </form>
                </div>
{% endblock %}