{% extends 'templates/app.twig' %}

{% block content %}
<div class="container-fluid bg-light py-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center mb-4">Change password</h3>
                    <form action="{{ path_for('auth.password.change') }}" method="post" autocomplete="off">
                        <div class="form-group">
                            <input class="form-control{{errors.password ? ' is-invalid' : '' }}" placeholder="Current password" name="oldPassword" value="" type="password">
                            {% if errors.oldPassword %}
                                <div class="invalid-feedback">{{ errors.oldPassword }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <input class="form-control{{errors.password ? ' is-invalid' : '' }}" placeholder="New password" name="password" value="" type="password">
                            {% if errors.password %}
                                <div class="invalid-feedback">{{ errors.password }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <input class="form-control{{errors.confirmPassword ? ' is-invalid' : '' }}" placeholder="Confirm Password" name="confirmPassword" value="" type="password">
                            {% if errors.confirmPassword %}
                                <div class="invalid-feedback">{{ errors.confirmPassword }}</div>
                            {% endif %}
                        </div>
                        <input class="btn btn-lg btn-primary btn-block" value="Change password" type="submit">
                    </form>
                </div>
        </div>
{% endblock %}