{% extends 'templates/app.twig' %}

{% block content %}
        <div class="password-change_wrapper">
                <div class="">
                    <h3 class="sign_in_form_label">Change password</h3>
                    <form action="{{ path_for('auth.password.change') }}" method="post" autocomplete="off">
                        <div class="field">
                            <div class="control">
                               <label >Password must contain at least 1 difit, 1 uppercase letter and 1 lowercase letter, it must be 6+ symbols</label>  
                            <input class="form-control{{errors.password ? ' is-invalid' : '' }} input" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$" placeholder="Current password" name="oldPassword" value="" type="password">
                            </div>
                            {% if errors.oldPassword %}
                                <div >{{ errors.oldPassword }}</div>
                            {% endif %}
                            
                        </div>
                        <div class="field">
                            <div class="control"> 
                            <input class="form-control{{errors.password ? ' is-invalid' : '' }} input" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$" placeholder="New password" name="password" value="" type="password">
                            </div>
                    
                            {% if errors.password %}
                                <div >{{ errors.password }}</div>
                            {% endif %}
                        </div>
                        <div class="field">
                            <div class="control">
                            <input class="form-control{{errors.confirmPassword ? ' is-invalid' : '' }} input" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$" placeholder="Confirm Password" name="confirmPassword" value="" type="password">
                            </div>
                          

                            {% if errors.confirmPassword %}
                                <div >{{ errors.confirmPassword }}</div>
                            {% endif %}
                        </div>
                        <input class="button is-primary" value="Change password" type="submit">
                    </form>
                </div>
        </div>
{% endblock %}