{% extends 'templates/app.twig' %}

{% block content %}

<div id="toTop">^ back to top</div>
{% if notifications %}
    <div class="delete_not_button"><button  class="button is-info" id="delete_all_notifications">Delete all</button></div>
 {% endif %}   


<div id="notification" class="notifications_container">
	{% for notification in notifications %}
		<div class="box each_notification" data-id="{{notification.id}}" style="display:none">
			{% if notification.viewed %}
				<div class="viewed"></div>
			{% else %}
				<div class="not-viewed">
					<button class="button is-light is-small viewed_button">Mark as viewed</button>
				</div>
			{% endif %}	
			<div>
				<a href="{{base_url()}}/show?profile={{notification.uid}}">{{notification.firstName}} {{notification.lastName}}</a>
			</div>
			<div>{{notification.text}}</div>
			<div>{{notification.time}}</div>
			<button class="delete_notification delete is-medium">Delete</button>
		</div>
	{% endfor %}
</div>
	
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script src="{{base_url()}}/public/js/notifications.js"></script>

{% endblock %}