{% extends 'templates/app.twig' %}

{% block content %}

<article class="profile_container">

    <div id="profile_photo" class="profile_photo_container box">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        {% if len != 0 %}
                            {% for key, photo in photos %}
                                {% if key == 0 %}
                            <div class="carousel-item active animated fadeIn">
                                {% else %}
                            <div class="carousel-item animated fadeIn">
                                {% endif %}
                                <img class="image carousel_image" src="{{ base_url() }}/app/users_photos/{{ photo }}" alt="No photo">
                                {% if key != 0 %}
                                    <div class="carousel-caption">
                                        <a class="img_button button is-info" href="{{ base_url() }}/user/profile?photo={{ key }}">Make this photo main</a>
                                    </div>
                                {% endif %}
                            </div>            
                            {% endfor %}
                             <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        {% else %}
                            <div>no photos</div>
                        {% endif %}
                </div>
            </div>
        </div>

    <div id="profile" class="profile_form_container">
        <form enctype="multipart/form-data" action="{{ path_for('user.profile') }}" method="post" autocomplete="off">
            <div class="form_section">
              {% if auth.is_filled == false %}
              <div class="field" style="color: red; font-size: 12px;">You can't use all features until you fill up profile</div>
              {% endif %}
                <div class="field">
                    <label class="label">First Name:</label>
                    <div class="control">
                          <label class="small_font">First name must contain only latinic letters or digits</label>
                        <p class="control has-icons-left">    
                            <span class="control"> 
                                <input class="input is-info" name="firstName" minlength="2" required="required" pattern="[a-zA-Z0-9]+" type="text" value="{{ auth.user.firstName }}">
                             </span>
                             <span class="icon is-small is-left"><i class="fas fa-address-card"></i></span>
                         </p>   
                    </div>
                    <label class="label">Last Name:</label>
                    <div class="control">
                      <label class="small_font">Last name must contain only latinic letters or digits</label>  
                         <p class="control has-icons-left">    
                            <span class="control"> 
                                <input class="input is-info" name="lastName" minlength="2" required="required" pattern="[a-zA-Z0-9]+" type="text" value="{{ auth.user.lastName }}">
                            </span>
                              <span class="icon is-small is-left"><i class="fas fa-address-card"></i></span>
                         </p>       
                    </div>
                </div>

                <div class="field">
                    <label class="label">Gender:</label>
                    <div class="control">
                        <p class="control has-icons-left">    
                            <span class="select">  
                                <select  id="gender" name="gender">
                                    {% if profile.gender == "Female" %}
                                        <option>Male</option>
                                        <option selected>Female</option>
                                    {% else %}
                                        <option selected>Male</option>
                                        <option> Female</option>
                                    {% endif %}
                                </select>
                            </span>
                             <span class="icon is-small is-left"><i class="fas fa-venus-mars"></i></span>
                        </p>        
                    </div>
                    <label class="label">Sexual preferences:</label>
                    <div class="control">
                        <p class="control has-icons-left">    
                        <span class="select">  
                            <select  id="sexualPreferences" name="sexualPreferences">
                                {% if profile.sexualPreferences == "Heterosexual" %}
                                <option>Bisexual</option>
                                <option selected>Heterosexual</option>
                                <option>Homosexual</option>
                                {% elseif profile.sexualPreferences == "Homosexual" %}
                                 <option>Bisexual</option>
                                <option>Heterosexual</option>
                                <option selected>Homosexual</option>
                                {% else %}
                                <option selected>Bisexual</option>
                                <option>Heterosexual</option>
                                <option>Homosexual</option>
                                {% endif %}
                            </select>
                        </span>
                           <span class="icon is-small is-left"><i class="fas fa-transgender-alt"></i></span>
                        </p>    
                    </div>
                </div>

                <div class="field">
                    <label class="label">Email:</label>
                    <div class="control">
                          <p class="control has-icons-left">    
                            <span class="control">  
                                <input  class="input is-info" name="email" type="email" required="required" value="{{ auth.user.email }}">
                            </span>
                             <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                          </p>      
                    </div>
                    <label class="label">Date of Birth</label>
                    <div class="control">
                          <p class="control has-icons-left">    
                            <span class="control">  
                                 <input class="input is-info" type="date" required="required" max="2000-01-01" min="1900-01-02" name="dateOfBirth" value="{{ profile.dateOfBirth }}">
                            </span>
                              <span class="icon is-small is-left"><i class="fas fa-calendar"></i></span>
                          </p>       
                    </div>
                </div>
                     <div class="box my_tags">
                       My fame rating: {{fame}}
                    </div>
                
            </div>
            <div class="map_container">
             <div class="map_section">
                <div id="map"></div>
                <input class="map_button button is-primary" type="submit" name="send" value="set automatically" id="autoset_location" >
                <input class="map_button button is-primary" type="submit" name="send" value="set manually" id="manset_location" >
                <div id="map_message" ></div>
                <div id="lat_lng" ></div>
            </div>

            <div class="bioghraphy">
                <label class="label">About me:</label>
                <textarea class="textarea is-info" rows="5" id="biography" name="biography">{{ biography }}</textarea>
            </div>
            <div class="field">
              <label class="label">Add tags:</label>
              <div class="control">
                <!--<input class="input is-info" type="text" name="tags" id="tag">
                <div id="show_tags">
                    <ul></ul>
                </div>-
                <a href="#" onclick="event.preventDefault()" id="addTag">Add tag</a>-->
                <label >Enter tags separated by comma: </label>
                   <input class="form-control" type="text" name="tags" id="tag">
                <ul></ul>
            </div>
            <button class="button is-info" id="addTag">Add tag</button>
             <div id="show_tags">
               </div> 
            </div>
             <div class="box" id="tags_box"><p>tags: </p>
             <!--   {% for key in tags %}
                <p class="tag">{{ key }}</p>
                {% endfor %}</div>-->
             </div>   
            <div class="file">
              <label class="file-label">
                <input class="file-input" id="file-input" type="file" name="picture[]" multiple name="photos">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
              </label>
            </div>
            <div id="preview"></div>
        </div>
        <input class="btn button is-primary btn-block" value="Submit" type="submit" id="profile_button">
        </form>
    </div>
</article>
{% endblock %}
{% block javascript %}
    {{ parent() }}
     <script src="{{base_url()}}/public/js/geo.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWy09HNMsO_0vvizAktk85EUvjW0kDTVg&libraries=places&callback=initMap" async></script>
    <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
    <script src="{{base_url()}}/public/js/tags.js"></script>

{% endblock %}
